@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'DM Sans';

}

body{

background:#f6f7fb;

}

.layout{

display:flex;
min-height:100vh;

}

/* SIDEBAR */

.sidebar{

width:65px;

padding:20px;

}

.menuButton{

width:45px;
height:45px;

border:none;

border-radius:14px;

background:#111827;

color:white;

font-size:22px;

display:flex;
align-items:center;
justify-content:center;

}

/* CONTENT */

.content{

flex:1;
padding:30px;

}

/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.logo{

font-size:28px;
font-weight:700;

}

.profile{

width:50px;
height:50px;

border-radius:50%;

background:#e76f51;

display:flex;
justify-content:center;
align-items:center;

color:white;

font-weight:bold;

}

/* HERO */

.heroMini{

display:flex;

justify-content:space-between;
align-items:center;

padding:40px;

background:white;

border-radius:35px;

margin-bottom:30px;

box-shadow:
0 10px 40px rgba(0,0,0,.05);

}

.tag{

display:inline-block;

padding:8px 16px;

border-radius:30px;

background:#fff1ec;

color:#e76f51;

margin-bottom:15px;

}

.heroMini h1{

font-size:45px;

margin-bottom:10px;

}

.heroMini p{

color:#666;

}

.heroIcon{

font-size:90px;
color:#e76f51;

}

/* FORM */

.formCard{

background:white;

padding:40px;

border-radius:35px;

box-shadow:
0 5px 30px rgba(0,0,0,.05);

}

.cardTop{

display:flex;

justify-content:space-between;

margin-bottom:30px;

}

.topIcon{

font-size:30px;

cursor:pointer;

color:#555;

}

.inputGroup{

display:flex;

flex-direction:column;

margin-bottom:25px;

}

.inputGroup label{

margin-bottom:10px;

font-weight:500;

}

.inputGroup input{

padding:16px;

border:none;

border-radius:15px;

background:#f3f4f8;

outline:none;

font-size:15px;

}

.inputGroup input:focus{

border:2px solid #e76f51;

background:white;

}

.saveButton{

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:#e76f51;

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.saveButton:hover{

transform:translateY(-4px);

}