@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'DM Sans';
}

body{
background:#f6f7fb;
}

.layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:65px;
padding:20px;
}

.menuButton{

width:45px;
height:45px;

border:none;

border-radius:14px;

background:#111827;

color:white;

font-size:22px;

}

.content{
flex:1;
padding:30px;
}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:40px;

}

.logo{

font-size:28px;
font-weight:700;

}

.profile{

width:50px;
height:50px;

border-radius:50%;

background:#e76f51;

display:flex;
align-items:center;
justify-content:center;

color:white;
font-weight:bold;

}

.heroMini{

display:flex;
justify-content:space-between;
align-items:center;

padding:40px;

background:white;

border-radius:35px;

margin-bottom:30px;

box-shadow:
0 10px 40px rgba(0,0,0,.05);

}

.tag{

padding:8px 16px;

background:#fff1ec;

color:#e76f51;

border-radius:30px;

display:inline-block;

margin-bottom:15px;

}

.heroIcon{

font-size:90px;
color:#e76f51;

}

.formCard{

background:white;

padding:40px;

border-radius:35px;

box-shadow:
0 5px 30px rgba(0,0,0,.05);

}

.cardTop{

display:flex;
justify-content:space-between;

margin-bottom:35px;

}

.topIcon{

font-size:30px;
cursor:pointer;

}

.timeline{

display:flex;
flex-direction:column;
gap:25px;

}

.timelineItem{

display:flex;
gap:20px;

}

.timelineDot{

width:16px;
height:16px;

background:#e76f51;

border-radius:50%;

margin-top:8px;

}

.timelineContent{

background:#f3f4f8;

padding:20px;

border-radius:18px;

width:100%;

}

.timelineContent span{

font-size:13px;
color:#888;

}

.timelineContent h3{

margin-top:6px;
margin-bottom:8px;

}

.timelineContent p{

color:#555;

}

.emptyState{

display:flex;
flex-direction:column;

align-items:center;

gap:15px;

padding:50px;

color:#999;

}