@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'DM Sans';
}

body{

background:#f6f7fb;

}

a{

text-decoration:none;
color:inherit;

}

.layout{

display:flex;

}

/* SIDEBAR */

.sidebar{

width:65px;

min-height:100vh;

padding:20px 10px;

display:flex;
flex-direction:column;
align-items:center;

background:transparent;

transition:.35s ease;

flex-shrink:0;

overflow:hidden;

}

.sidebar.open{

width:260px;

background:#111827;

padding:20px;

align-items:stretch;

border-radius:0 30px 30px 0;

}

.menuButton{

width:45px;
height:45px;

border:none;

border-radius:14px;

background:#111827;

color:white;

font-size:24px;

cursor:pointer;

display:flex;
align-items:center;
justify-content:center;

margin:0;

padding:0;

line-height:0;

}

.menuButton:hover{

transform:scale(1.05);

}

.sidebarLogo{

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

font-weight:700;

color:white;

margin-bottom:40px;

}

.sidebarMenu{

display:flex;
flex-direction:column;
gap:10px;

}

.sidebarItem{

display:flex;
align-items:center;
gap:15px;

padding:15px;

border-radius:14px;

color:#d1d5db;

transition:.3s;

}

.sidebarItem:hover{

background:#1f2937;

color:white;

}

/* MAIN */

.home{

padding:30px;
width:100%;

}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:50px;

}

.logo{

font-size:28px;
font-weight:700;

}

.profile{

width:50px;
height:50px;

border-radius:50%;

background:#e76f51;

display:flex;
justify-content:center;
align-items:center;

color:white;
font-weight:bold;

}

/* HERO */

.hero{

display:flex;

justify-content:space-between;
align-items:center;

padding:60px;

background:white;

border-radius:40px;

margin-bottom:40px;

box-shadow:
0 10px 40px rgba(0,0,0,.05);

}

.hero-left{

max-width:500px;

}

.tag{

display:inline-block;

padding:8px 16px;

background:#fff1ec;

color:#e76f51;

border-radius:30px;

margin-bottom:20px;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

line-height:1;

}

.hero p{

font-size:18px;

color:#666;

margin-bottom:30px;

}

.hero-buttons{

display:flex;
gap:15px;

}

button{

border:none;

padding:15px 25px;

border-radius:15px;

cursor:pointer;

background:#e76f51;

color:white;

}

.secondary{

background:#ececec;
color:black;

}

.hero-right{

font-size:140px;

}

/* STATS */

.stats{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:20px;

margin-bottom:40px;

}

.stat{

background:white;

padding:30px;

border-radius:30px;

text-align:center;

box-shadow:
0 5px 30px rgba(0,0,0,.05);

}

.stat h2{

font-size:40px;
color:#e76f51;

}

/* CARDS */

.sectionTitle{

margin-bottom:25px;

font-size:30px;

}

.grid{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(180px,1fr));

gap:20px;

}

.card{

background:white;

padding:30px;

border-radius:30px;

display:flex;
flex-direction:column;
align-items:center;

gap:20px;

transition:.3s;

box-shadow:
0 5px 30px rgba(0,0,0,.05);

}

.card:hover{

transform:translateY(-8px);

}

.icon{

font-size:40px;
color:#e76f51;

}

@media(max-width:900px){

.hero{

flex-direction:column;
text-align:center;

}

.stats{

grid-template-columns:1fr;

}

}